section
  section
    h2 O que é SPA?
    p  A single-page application is an app that works inside a browser and does not require page reloading during use.
    img(src="https://media.giphy.com/media/3o84U6421OOWegpQhq/giphy.gif", alt="")
  section
    h1 Porque usar SPA?
    ul
      li.fragment rápida navegação
      li.fragment divisão de responsabilidade
      li.fragment diminui o processamento no back end
      li.fragment legibilidade

