doctype html
html
  include inc/head
  body
    .reveal
      .slides
        include ../slides/1-capa
        include ../slides/2-whoami
        include ../slides/3-jhonesio
        include ../slides/4-spa
        include ../slides/5-code
        include ../slides/6-angular
        include ../slides/7-code
        include ../slides/8-demo
        include ../slides/9-done
    include inc/scripts
